NEXT_PUBLIC_EMAILJS_SERVICE_ID=service-id
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template-id
NEXT_PUBLIC_EMAILJS_CONTACTS_TEMPLATE_ID=template-id
NEXT_PUBLIC_EMAILJS_USER_ID=user-id

NEXT_PUBLIC_BASE_URL=https://client-blog-api.vercel.app
NEXT_PUBLIC_MAP_BOX_TOCKEN=key-mapbox


